.idea/
./ClientService/.idea/
./HostService/.idea/
./HostService/.env
./ClientService/.env

/Infrastructure/.terraform/
/Infrastructure/K8s/kubeconfig
/Infrastructure/K8s/terraform.tfstate
/Infrastructure/docker-secret.yaml
/Infrastructure/.terraform.lock.hcl
/Infrastructure/kubeconfig
/Infrastructure/terraform.tfstate
/Infrastructure/terraform.tfstate.backup
